@{
    ViewData["Title"] = "Избранное";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Избранное</h1>

<div class="favorites-grid"></div>

<!-- Контейнер для сообщений -->
<div id="favorite-message" style="display: none; margin-top: 20px; padding: 10px; border-radius: 5px; background-color: #e0ffe0; color: #2c3e50; text-align: center;"></div>


<script src="~/js/site.js" asp-append-version="true"></script>